# Production .gitignore

# Ignored development directories (which may reside as leftovers in workspace)
backend/
frontend/
rilis/
scripts/

# Ignored production credentials / state
.env
writable/*
!writable/index.html
!writable/keep

# System files
.DS_Store
Thumbs.db
